<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.noa.demo.mapper.ClassroomMapper">
    <resultMap id="BaseResultMap" type="com.noa.demo.entity.Classroom">
        <id column="classroom_id" property="classroomId"/>
        <result column="building_name" property="buildingName"/>
        <result column="room_number" property="roomNumber"/>
        <result column="capacity" property="capacity"/>
        <result column="row_count" property="rowCount"/>
        <result column="column_count" property="columnCount"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        classroom_id, building_name, room_number, capacity, row_count, column_count, status
    </sql>

    <!-- 获取所有可用教室 -->
    <select id="getAvailableClassrooms" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM classroom
        WHERE status = 1
        ORDER BY room_number
    </select>

    <select id="checkClassroomAvailable" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM exam_arrangement ea
                 JOIN exam_information ei ON ea.exam_id = ei.exam_id
            ${ew.customSqlSegment}
    </select>
</mapper>